## 1.Importing Libraries

In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## 2.Load the dataset

In [4]:
df=pd.read_csv(r'C:\Users\srini\OneDrive\Desktop\dataAnalysis\global_population_stats_2024.csv')

In [5]:
df.head()

,Country,Population Aged 0 to 14 (%),Population Aged 60 and Over (%),Population density,Population(in millions),Female Population(in millions),Male Population(in millions),Sex ratio (males per 100 females)
0,Afghanistan,42.9,3.9,65.7,42.65,21.12,21.53,102.0
1,Albania,16.8,23.5,101.9,2.79,1.41,1.38,97.8
2,Algeria,30.3,10.0,19.7,46.81,22.94,23.87,104.1
3,Andorra,11.9,23.2,174.3,0.08,0.04,0.04,104.6
4,Angola,44.4,4.6,30.4,37.89,19.14,18.75,98.0

In [6]:
df.tail()

,Country,Population Aged 0 to 14 (%),Population Aged 60 and Over (%),Population density,Population(in millions),Female Population(in millions),Male Population(in millions),Sex ratio (males per 100 females)
187,Venezuela,25.5,14.3,31.0,28.41,14.37,14.03,97.6
188,Vietnam,23.2,13.9,322.2,100.99,51.53,49.46,96.0
189,Yemen,41.1,4.0,76.9,40.58,20.03,20.56,102.7
190,Zambia,41.5,3.3,28.7,21.32,10.76,10.55,98.0
191,Zimbabwe,40.9,5.0,43.0,16.63,8.71,7.93,91.1

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192 entries, 0 to 191
Data columns (total 8 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Country                            192 non-null    object
 1   Population Aged 0 to 14 (%)        192 non-null    float64
 2   Population Aged 60 and Over (%)    192 non-null    float64
 3   Population density                 192 non-null    float64
 4   Population(in millions)            192 non-null    float64
 5   Female Population(in millions)     192 non-null    float64
 6   Male Population(in millions)       192 non-null    float64
 7   Sex ratio (males per 100 females)  192 non-null    float64
dtypes: float64(7), object(1)
memory usage: 12.1+ KB

In [8]:
df.describe()

,Population Aged 0 to 14 (%),Population Aged 60 and Over (%),Population density,Population(in millions),Female Population(in millions),Male Population(in millions),Sex ratio (males per 100 females)
count,192.000000,192.000000,192.000000,192.000000,192.000000,192.000000,192.000000
mean,26.308333,14.167188,348.131771,42.267812,21.012708,21.255156,101.186458
std,10.328998,9.106158,1969.940293,151.787795,74.169644,77.631324,16.366059
min,10.600000,3.300000,2.200000,0.010000,0.000000,0.000000,85.200000
25%,17.000000,6.100000,36.550000,2.180000,1.037500,1.082500,95.950000
50%,24.650000,11.250000,90.300000,9.455000,4.720000,4.660000,98.700000
75%,36.350000,22.250000,209.725000,32.467500,15.750000,16.387500,101.400000
max,49.000000,43.500000,25926.800000,1450.940000,702.610000,748.320000,248.200000

In [10]:
df.shape

(192, 8)

In [12]:
print(df.isnull().sum())

Country                              0
Population Aged 0 to 14 (%)          0
Population Aged 60 and Over (%)      0
Population density                   0
Population(in millions)              0
Female Population(in millions)       0
Male Population(in millions)         0
Sex ratio (males per 100 females)    0
dtype: int64